# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe (Tracked in bin folder)
*.out
*.app

# Visual Studio / VS Code
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.user

# OS specific files
.DS_Store
Thumbs.db
